# Personalized ignores
*.root
*.npy
*.hdf5
*.copied
*.txt
*.ipynb
*.pkl
*.swp
test/*
.vscode/
*krb5.conf*
*.DS_Store
*.html


# Ignore processed outputs:
src/analyisis/*

# Ignore the input/output of each particular NP04 analysis
src/waffles/np04_analysis/*/data/
src/waffles/np04_analysis/*/output/

!test/wtest_*
!docs/examples/00_CheckData.ipynb
!docs/examples/01_Calibration.ipynb

# Ignoring common build directories
build/
install/
*.egg-info

# Ignoring plot results
*.pdf
*.svg
*.png
*.jpg
*.gif

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.o

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
